html {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 100px;
}

ul,
li,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

:root {
  --bgcolor: #fafafa;
  --bgfooter: #1e1823;
  --maincolorfont: #111111;
  --color_wh: #ffffff;
  --bg-button: #fd9222;
  --bg-button_hover: #fcf1e0;
  --basicfont: 'Montserrat', sans-serif;
  --basicletspace: 0.02em;
}

body {
  background-color: var(--bgcolor);
  color: var(--maincolorfont);
  font-family: var(--basicfont);
  letter-spacing: var(--basicletspace);
  min-width: 320px;
}

/* Доп class  */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: var(--color_wh);
}

.address {
  font-style: normal;
}

.container {
  max-width: 375px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
  padding-bottom: 72px;
}

.icon {
  display: flex;
}

/* Секции */

.header > .container {
  padding-bottom: 0;
}

.logo_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 14px;
}

.logo-box {
  display: flex;
  align-items: center;
  gap: 4px;
  fill: var(--bgcolor);
}

.logotext {
  display: inline-block;
  font-style: italic;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: var(--maincolorfont);
}

.header_menu_nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  right: 0;
  top: 0;
  position: fixed;
  width: 220px;
  height: 100%;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  overflow-y: scroll;
  background-color: var(--bgfooter);
}

.header_menu_nav.is-open {
  transform: translateX(0);
}

.mobile-menu {
  stroke: var(--maincolorfont);
  background-color: var(--bgcolor);
}

.mobile-menu-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: var(--bgfooter);
  border-radius: 50%;
  width: 28px;
  height: 28px;
  stroke: var(--color_wh);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover,
.mobile-menu-close:focus {
  background-color: var(--bg-button_hover);
  stroke: var(--bg-button);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-icon {
  width: 28px;
  height: 28px;
}

.header_menu {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding-top: 136px;
  padding-left: 50px;
}

.social-links {
  display: flex;
  gap: 18px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.social-link {
  display: inline-block;
  stroke: var(--color_wh);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover {
  stroke: var(--bg-button);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-bg {
  background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%),
    url(../images/mobile/chocolate-covered-cocoa-powder.jpg);
  background-size: cover;
  border-radius: 30px;
  overflow: hidden;
  padding: 395px 20px 20px 20px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .main-bg {
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/mobile/chocolate-covered-cocoa-powder@2x.jpg);
  }
}

.button_style {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 41px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: var(--color_wh);
  border-radius: 100px;
}

.main_text {
  padding-right: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: var(--color_wh);
}

.main_butt {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin-top: 32px;
}

.main_scroll {
  display: inline-flex;
  margin-top: 32px;
  margin-right: 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  color: var(--color_wh);
}

.main_scroll-cont {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--color_wh);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main_scroll-cont:hover,
.main_scroll-cont:focus {
  background-color: var(--bg-button);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main_scroll-icon {
  width: 16px;
  height: 15px;
  fill: var(--bg-button);
  stroke: var(--bg-button);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main_scroll-cont:hover .main_scroll-icon,
.main_scroll-cont:focus .main_scroll-icon {
  fill: var(--color_wh);
  stroke: var(--color_wh);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buynow {
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  background: var(--bg-button);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.howmade {
  width: 159px;
  background-color: transparent;
  outline: 1px solid var(--color_wh);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feed {
  width: 165px;
  padding: 0;
  outline: 1px solid var(--bg-button);
  color: var(--maincolorfont);
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subs {
  width: 120px;
  padding: 12px 28px;
  background: var(--bg-button);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.orange_text {
  color: var(--bg-button);
}

.buynow:hover,
.buynow:focus,
.subs:hover,
.subs:focus {
  color: var(--bg-button);
  background-color: var(--bg-button_hover);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feed:hover,
.feed:focus {
  color: var(--color_wh);
  background-color: var(--bg-button);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.howmade:hover,
.howmade:focus {
  outline: 1px solid var(--bg-button);
  color: var(--bg-button);
  background-color: var(--color_wh);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Секция About */

.about {
  padding-top: 20px;
  padding-bottom: 32px;
  background-color: var(--bgfooter);
}

.about_list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.about-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  outline: 1px solid rgba(255, 255, 255, 0.5);
}

.about_text {
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  color: var(--color_wh);
}

.about_text_parag {
  font-size: 14px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.7);
}

/* Секция Ingradient */

.ingradient {
  padding-top: 72px;
}

.ing_text {
  margin-bottom: 24px;
  padding: 0 24px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--maincolorfont);
}

.ing_parag {
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--maincolorfont);
}

.ing_list {
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
}

.ing_list_item {
  padding: 28px 28px 0 28px;
  width: 335px;
  height: 270px;
  border-radius: 15px;
  outline: 1px solid var(--bg-button);
  overflow: hidden;
  background-color: white;
}

.ing_list_item:nth-child(1) {
  background-color: var(--bg-button);
}

.ing_list_item:nth-child(3) {
  background-color: var(--bgfooter);
  outline: 1px solid var(--bgfooter);
}

.ing_img {
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.ing_img_text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--maincolorfont);
}

.white {
  color: var(--color_wh);
}

/* Секция How made */

.howtomade {
  padding: 20px 14px;
  background-color: var(--color_wh);
}

.howtomade_title {
  text-align: center;
}

.howtomade_img {
  margin-top: 32px;
  width: 335px;
  height: 500px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/mobile/howtomade_img.jpg);
  background-size: cover;
  border-radius: 15px;
  overflow: hidden;
}

.howtomade_list {
  display: inline-flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 20px;
  list-style: disc !important;
}

.howtomade_list_item {
  color: var(--maincolorfont);
  margin-left: 16px;
  list-style: disc;
}

.howtomade_main {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.35;
  color: var(--maincolorfont);
}

.howtomade_text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--maincolorfont);
}

/* Секция Ourproduct */

.ourprod_title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--maincolorfont);
}

/* Секция Top Seller */

.topsel_title {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--maincolorfont);
}

.topsel_img {
  margin-bottom: 20px;
  border-radius: 15px;
  overflow: hidden;
}

.topseller_text {
  margin-bottom: 32px;
  padding-right: 29px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--maincolorfont);
}

/* Секция Feedback */

.feedback_title {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--maincolorfont);
}

/* Секция Subscribe */

.subscribe {
  margin-bottom: 0;
  padding-top: 62px;
  padding-bottom: 63px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../images/mobile/Subcribe.jpg);
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .subscribe {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(../images/mobile/Subcribe@2x.jpg);
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.subs_main {
  padding-left: 22px;
  padding-right: 22px;
  color: var(--color_wh);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.subs_text {
  padding-left: 5px;
  padding-right: 5px;
  color: var(--color_wh);
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
}

.footer {
  padding-top: 32px;
  background-color: var(--bgfooter);
  color: var(--maincolorfont);
}

.footer.container {
  padding-bottom: 0;
}

.footer_text {
  margin-bottom: 32px;
  width: 300px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: var(--color_wh);
}

.footer_contact_block {
  display: flex;
  justify-content: space-between;
}

.footer_contact {
  color: var(--color_wh);
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
}

.icon_block {
  display: flex;
  gap: 14px;
}

.footer_nav_menu {
  position: relative;
  margin-top: 64px;
  padding-bottom: 32px;
}

.footer_nav_menu::before {
  content: '';
  position: absolute;
  top: -32px;
  display: block;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 335px;
  outline: 1px solid rgba(255, 255, 255, 0.1);
}

.footer_menu {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 32px;
}

.contact {
  display: inline-flex;
  gap: 4px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--color_wh);
}

@media screen and (max-width: 375px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 1200px) {
}
